

<!DOCTYPE html>

<html lang="en">

  <head>

    

    <style>

      body{

        background-image: url("../static/images/backgd.jpg");

      }

    </style>

  </head>

 

  <body>

    <nav class="navbar">

      <img src="../static/images/logo.png" alt="Logo" width="300" height="100" />

      <ul class="nav-links">

        <li><a href="/">Home</a></li>

        <li><a href="../templates/contact.html">Contact</a></li>

        <li class="dropdown">

          <div class="dropbtn" id="loginBtn">Login</div>

          <div class="dropdown-content" id="myDropdown">

            <a href="../templates/login.html">Student</a>

            <a href="../templates/login.html">Faculty</a>

            <a href="../templates/login.html">Admin</a>

          </div>

        </li>

      </ul>

    </nav>

 

    <section class="hero">

      <h1>Smart Assignment</h1>

      <p>

       Smart assignment tracking for students and faculty

      </p>

    </section>

 

    <script src="../static/script/script.js"></script>

  </body>

</html>
