<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    />
    <title>STUDENT PROFILE</title>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <div class="wrapper">
      <nav>
        
        
          <a href="../templates/studentsubmit.html">
            <span class="icon"><i class="fas fa-user-friends"></i></span>
            <span class="item">Assignment</span>
          </a>
          <a href="../templates/contact.html">
            <span class="icon"><i class="fas fa-user-shield"></i></span>
            <span class="item">Admin</span>
          </a>
          <a href="/">
            <span class="icon"><i class="fas fa-tachometer-alt"></i></span>
            <span class="item">Logout</span>
          </a>
        </div>
      </nav>
      <div class="main_section">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Sriram</td>
              <td>Sriram@uni.edu.in</td>
            </tr>
            <tr>
              <td>Lalitha</td>
              <td>Lalitha@uni.edu.in</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
